@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}

body,
html {
  /* overflow-x: hidden; */
  background-color: #f4f4f4;
}

body {
}

.control-dots {
  top: 6.5rem;
}

.carousel-slider {
  padding-bottom: 2.5rem;
}
